<h1>New</h1>


<%= form_for @user, url: {action: "create"} do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :age %>
  <%= f.text_field :age %>

  <%= f.label :next_of_kin %>
  <%= f.text_field :next_of_kin %>

  <%= f.submit "Create" %>
<% end %>
